<div class="top-container">
    <div class="field-container">
        <div class="field">
            <div class="row">
                <div class="column">
                    {{#each a}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each b}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each c}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each d}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each e}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each f}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each g}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each h}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each i}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each j}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each k}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
    <div class="keyboard-container">
        <div class="keyboard">
            <div class="leftBtns">
                <div class="smallBtnFld">
                    <div class="btnRow">
                        <div class="smallBtn"><span class="ltb">t</span><span class="rbb">?</span></div>
                        <div class="smallBtn"><span class="ltb">h</span><span class="rbb">_</span></div>
                        <div class="smallBtn"><span class="ltb">o</span><span class="rbb">i</span></div>
                    </div>
                    <div class="btnRow">
                        <div class="smallBtn"><span class="ltb">j</span><span class="rbb">q</span></div>
                        <div class="smallBtn"><span class="ltb">╎</span><span class="rbb">b</span></div>
                        <div class="smallBtn"><span class="ltb">s</span><span class="rbb">l</span></div>
                    </div>
                    <div class="btnRow">
                        <div class="smallBtn"><span class="ltb">e</span><span class="rbb">x</span></div>
                        <div class="smallBtn"><span class="ltb">w</span><span class="rbb">z</span></div>
                        <div class="smallBtn"><span class="ltb">r</span><span class="rbb">m</span></div>
                    </div>
                </div>
                <div class="btnRow">
                    <div class="wideBtn"><span class="ltb">y</span><span class="rbb">d</span></div><div class="smallBtn"><span class="ltb">k</span><span class="rbb">g</span></div>
                </div>
            </div>
            <div class="longBtn"><span>++</span><br /><span>a</span></div>
        </div>
    </div>
</div>
<div class="bottom-container">
    <div id="current_date_time_block2"></div>
    <span id="countTime"></span>
    <br />
    <a href="javascript:startCount()">3anycтить процесс</a>
    <br />
    <a href="javascript:stopCount()">Остановить процесс</a>
    <br/>
    <label>
        <input class="actions" value="">
    </label>
    <div class="constBtns">
        <button onclick="changeColor('lightgrey')">ПОЛЕ</button>
        <button onclick="changeColor('darkblue')">СТЕНА</button>
        <button onclick="changeColor('violet')">ЛОЖНАЯ КОРМУШКА</button>
        <button onclick="changeColor('orange')">КОРМУШКА</button>
        <button onclick="changeColor('green')">ВХОД</button>
        <button onclick="changeColor('lightblue')">ВЫХОД</button>
    </div>
</div>
