<div class="top-container">
    <div class="field-container">
        <div class="field">
            <div class="row">
                <div class="column">
                    {{#each a}}
                        <div class="cell" onclick="colorClick(this)"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each b}}
                        <div class="cell" onclick="colorClick(this)"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each c}}
                        <div class="cell" onclick="colorClick(this)"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each d}}
                        <div class="cell" onclick="colorClick(this)"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each e}}
                        <div class="cell" onclick="colorClick(this)"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each f}}
                        <div class="cell" onclick="colorClick(this)"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each g}}
                        <div class="cell" onclick="colorClick(this)"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each h}}
                        <div class="cell" onclick="colorClick(this)"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each i}}
                        <div class="cell" onclick="colorClick(this)"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}">{{this.id.default}}</div>

                    {{/each}}
                </div>
                <div class="column">
                    {{#each j}}
                        <div class="cell" onclick="colorClick(this)"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each k}}
                        <div class="cell" onclick="colorClick(this)"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="keyboard-container">
        <div class="keyboard">
            <div class="leftBtns">
                <div class="smallBtnFld">
                    <div class="btnRow">
                        <div class="smallBtn"><span class="ltb">t</span><span class="rbb">?</span></div>
                        <div class="smallBtn"><span class="ltb">h</span><span class="rbb">_</span></div>
                        <div class="smallBtn"><span class="ltb">o</span><span class="rbb">i</span></div>
                    </div>
                    <div class="btnRow">
                        <div class="smallBtn"><span class="ltb">j</span><span class="rbb">q</span></div>
                        <div class="smallBtn"><span class="ltb">╎</span><span class="rbb">b</span></div>
                        <div class="smallBtn"><span class="ltb">s</span><span class="rbb">l</span></div>
                    </div>
                    <div class="btnRow">
                        <div class="smallBtn"><span class="ltb">e</span><span class="rbb">x</span></div>
                        <div class="smallBtn"><span class="ltb">w</span><span class="rbb">z</span></div>
                        <div class="smallBtn"><span class="ltb">r</span><span class="rbb">m</span></div>
                    </div>
                </div>
                <div class="btnRow">
                    <div class="wideBtn">
                        <div class="wltb">y</div>
                        <div class="wrbb">d</div>
                    </div>
                    <div class="smallBtn"><span class="ltb">k</span><span class="rbb">g</span></div>
                </div>
            </div>
            <div class="longBtn">
                <div class="lltb">++</div>
                <div class="lrbb">a</div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-container">
    <div id="current_date_time_block2"></div>
    <span id="countTime"></span>
    <br/>
    <button class="powerBtn btn" onclick="startCount()">Начать эксперимент</button>
    <br/>
    <button class="powerBtn btn" onclick="stopCount()">Остановить эксперимент</button>
    <br/>
    <label>
        <input class="actions" value="">
    </label>
    <div class="constBtns">
        <button class="constBtn btn" onclick="changeColor('grey')">ПОЛЕ</button>
        <button class="constBtn btn" onclick="changeColor('darkblue')">СТЕНА</button>
        <button class="constBtn btn" onclick="changeColor('violet')">ЛОЖНАЯ КОРМУШКА</button>
        <button class="constBtn btn" onclick="changeColor('orange')">КОРМУШКА</button>
        <button class="constBtn btn" onclick="changeColor('green'); this.mouse = true">ВХОД</button>
        <button class="constBtn btn" onclick="changeColor('lightblue')">ВЫХОД</button>
    </div>
</div>
