<div class="top-container">
    <div class="field-container">
        <div class="field">
            <div class="row">
                <div class="column">
                    {{#each a}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each b}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each c}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each d}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each e}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each f}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each g}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each h}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each i}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each j}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div class="column">
                    {{#each k}}
                        <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
                    {{/each}}
                </div>
            </div>

            <!--            <div class="row">-->
<!--                <div id="a1" class="cell" onclick="this.style.backgroundColor = color"></div><div id="a2" class="cell" onclick="this.style.backgroundColor = color"></div><div id="a3" class="cell" onclick="this.style.backgroundColor = color"></div><div id="a4" class="cell" onclick="this.style.backgroundColor = color"></div><div id="a5" class="cell" onclick="this.style.backgroundColor = color"></div><div id="a6" class="cell" onclick="this.style.backgroundColor = color"></div><div id="a7" class="cell" onclick="this.style.backgroundColor = color"></div><div id="a8" class="cell" onclick="this.style.backgroundColor = color"></div><div id="a9" class="cell" onclick="this.style.backgroundColor = color"></div><div id="a10" class="cell" onclick="this.style.backgroundColor = color"></div><div id="a11" class="cell" onclick="this.style.backgroundColor = color"></div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div id="b1" class="cell" onclick="this.style.backgroundColor = color"></div><div id="b2" class="cell" onclick="this.style.backgroundColor = color"></div><div id="b3" class="cell" onclick="this.style.backgroundColor = color"></div><div id="b4" class="cell" onclick="this.style.backgroundColor = color"></div><div id="b5" class="cell" onclick="this.style.backgroundColor = color"></div><div id="b6" class="cell" onclick="this.style.backgroundColor = color"></div><div id="b7" class="cell" onclick="this.style.backgroundColor = color"></div><div id="b8" class="cell" onclick="this.style.backgroundColor = color"></div><div id="b9" class="cell" onclick="this.style.backgroundColor = color"></div><div id="b10" class="cell" onclick="this.style.backgroundColor = color"></div><div id="b11" class="cell" onclick="this.style.backgroundColor = color"></div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div id="c1" class="cell" onclick="this.style.backgroundColor = color"></div><div id="c2" class="cell" onclick="this.style.backgroundColor = color"></div><div id="c3" class="cell" onclick="this.style.backgroundColor = color"></div><div id="c4" class="cell" onclick="this.style.backgroundColor = color"></div><div id="c5" class="cell" onclick="this.style.backgroundColor = color"></div><div id="c6" class="cell" onclick="this.style.backgroundColor = color"></div><div id="c7" class="cell" onclick="this.style.backgroundColor = color"></div><div id="c8" class="cell" onclick="this.style.backgroundColor = color"></div><div id="c9" class="cell" onclick="this.style.backgroundColor = color"></div><div id="c10" class="cell" onclick="this.style.backgroundColor = color"></div><div id="c11" class="cell" onclick="this.style.backgroundColor = color"></div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div id="c1" class="cell"></div><div id="c2" class="cell"></div><div id="c3" class="cell"></div><div id="c4" class="cell"></div><div id="c5" class="cell"></div><div id="c6" class="cell"></div><div id="c7" class="cell"></div><div id="c8" class="cell"></div><div id="c9" class="cell"></div><div id="c10" class="cell"></div><div id="c11" class="cell"></div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div id="d1" class="cell"></div><div id="d2" class="cell"></div><div id="d3" class="cell"></div><div id="d4" class="cell"></div><div id="d5" class="cell"></div><div id="d6" class="cell"></div><div id="d7" class="cell"></div><div id="d8" class="cell"></div><div id="d9" class="cell"></div><div id="d10" class="cell"></div><div id="d11" class="cell"></div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div id="e1" class="cell"></div><div id="e2" class="cell"></div><div id="e3" class="cell"></div><div id="e4" class="cell"></div><div id="e5" class="cell"></div><div id="e6" class="cell"></div><div id="e7" class="cell"></div><div id="e8" class="cell"></div><div id="e9" class="cell"></div><div id="e10" class="cell"></div><div id="e11" class="cell"></div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div id="f1" class="cell"></div><div id="f2" class="cell"></div><div id="f3" class="cell"></div><div id="f4" class="cell"></div><div id="f5" class="cell"></div><div id="f6" class="cell"></div><div id="f7" class="cell"></div><div id="f8" class="cell"></div><div id="f9" class="cell"></div><div id="f10" class="cell"></div><div id="f11" class="cell"></div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div id="g1" class="cell"></div><div id="g2" class="cell"></div><div id="g3" class="cell"></div><div id="g4" class="cell"></div><div id="g5" class="cell"></div><div id="g6" class="cell"></div><div id="g7" class="cell"></div><div id="g8" class="cell"></div><div id="g9" class="cell"></div><div id="g10" class="cell"></div><div id="g11" class="cell"></div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div id="h1" class="cell"></div><div id="h2" class="cell"></div><div id="h3" class="cell"></div><div id="h4" class="cell"></div><div id="h5" class="cell"></div><div id="h6" class="cell"></div><div id="h7" class="cell"></div><div id="h8" class="cell"></div><div id="h9" class="cell"></div><div id="h10" class="cell"></div><div id="h11" class="cell"></div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div id="j1" class="cell"></div><div id="j2" class="cell"></div><div id="j3" class="cell"></div><div id="j4" class="cell"></div><div id="j5" class="cell"></div><div id="j6" class="cell"></div><div id="j7" class="cell"></div><div id="j8" class="cell"></div><div id="j9" class="cell"></div><div id="j10" class="cell"></div><div id="j11" class="cell"></div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div id="k1" class="cell"></div><div id="k2" class="cell"></div><div id="k3" class="cell"></div><div id="k4" class="cell"></div><div id="k5" class="cell"></div><div id="k6" class="cell"></div><div id="k7" class="cell"></div><div id="k8" class="cell"></div><div id="k9" class="cell"></div><div id="k10" class="cell"></div><div id="k11" class="cell"></div>-->
<!--            </div>-->
        </div>
    </div>
    <div class="keyboard-container">
        <div class="keyboard">
            <div class="leftBtns">
                <div class="smallBtnFld">
                    <div class="btnRow">
                        <div class="smallBtn"><span class="ltb">t</span><span class="rbb">?</span></div>
                        <div class="smallBtn"><span class="ltb">h</span><span class="rbb">_</span></div>
                        <div class="smallBtn"><span class="ltb">o</span><span class="rbb">i</span></div>
                    </div>
                    <div class="btnRow">
                        <div class="smallBtn"><span class="ltb">j</span><span class="rbb">q</span></div>
                        <div class="smallBtn"><span class="ltb">╎</span><span class="rbb">b</span></div>
                        <div class="smallBtn"><span class="ltb">s</span><span class="rbb">l</span></div>
                    </div>
                    <div class="btnRow">
                        <div class="smallBtn"><span class="ltb">e</span><span class="rbb">x</span></div>
                        <div class="smallBtn"><span class="ltb">w</span><span class="rbb">z</span></div>
                        <div class="smallBtn"><span class="ltb">r</span><span class="rbb">m</span></div>
                    </div>
                </div>
                <div class="btnRow">
                    <div class="wideBtn"><span class="ltb">y</span><span class="rbb">d</span></div><div class="smallBtn"><span class="ltb">k</span><span class="rbb">g</span></div>
                </div>
            </div>
            <div class="longBtn"><span>++</span><span>a</span></div>
        </div>
    </div>
</div>
<div class="bottom-container">
    <div id="current_date_time_block2"></div>
    <span id="countTime"></span>
    <br />
    <button class="powerBtn" onclick="startCount()">Начать эксперимент</button>
    <br />
    <button class="powerBtn" onclick="stopCount()">Остановить эксперимент</button>
    <br/>
    <label>
        <input class="actions" value="">
    </label>
    <div class="constBtns">
        <button class="constBtn" onclick="changeColor('lightgrey')">ПОЛЕ</button>
        <button class="constBtn" onclick="changeColor('darkblue')">СТЕНА</button>
        <button class="constBtn" onclick="changeColor('violet')">ЛОЖНАЯ КОРМУШКА</button>
        <button class="constBtn" onclick="changeColor('orange')">КОРМУШКА</button>
        <button class="constBtn" onclick="changeColor('green'); this.mouse = true">ВХОД</button>
        <button class="constBtn" onclick="changeColor('lightblue')">ВЫХОД</button>
    </div>
</div>
