<div id="header">
    <div id="inputBox">
        <input class="topInput" id="experimentName" placeholder="Название эксперимента">
        <input class="topInput" id="experimentNumber" placeholder="Номер опыта">
        <input class="topInput" id="mouseNumber" placeholder="Номер подопытного">
    </div>
    <img src="logo.png">
</div>
<div class="top-container" onselectstart="return false">
    <div class="field-container" style="width: 100%">
        <div class="field">
            <div id='111' class="row">
                <div id="1" class="column">
                    {{#each a}}
                        <div class="cell" onmousedown="colorClick(this)"
                             id="{{this.id.default}}"
                             onselectstart="return false" onmousedown="return false"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}" letter="{{this.letter.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div id="2" class="column">
                    {{#each b}}
                        <div class="cell" onmousedown="colorClick(this)"
                             id="{{this.id.default}}"
                             onselectstart="return false"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}" letter="{{this.letter.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div id="3" class="column">
                    {{#each c}}
                        <div class="cell" onmousedown="colorClick(this)"
                             id="{{this.id.default}}"
                             onselectstart="return false"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}" letter="{{this.letter.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div id="4" class="column">
                    {{#each d}}
                        <div class="cell" onmousedown="colorClick(this)"
                             id="{{this.id.default}}"
                             onselectstart="return false"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}" letter="{{this.letter.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div id="5" class="column">
                    {{#each e}}
                        <div class="cell" onmousedown="colorClick(this)"
                             id="{{this.id.default}}"
                             onselectstart="return false"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}" letter="{{this.letter.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div id="6" class="column">
                    {{#each f}}
                        <div class="cell" onmousedown="colorClick(this)"
                             id="{{this.id.default}}"
                             onselectstart="return false"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}" letter="{{this.letter.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div id="7" class="column">
                    {{#each g}}
                        <div class="cell" onmousedown="colorClick(this)"
                             id="{{this.id.default}}"
                             onselectstart="return false"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}" letter="{{this.letter.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div id="8" class="column">
                    {{#each h}}
                        <div class="cell" onmousedown="colorClick(this)"
                             id="{{this.id.default}}"
                             onselectstart="return false"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}" letter="{{this.letter.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div id="9" class="column">
                    {{#each i}}
                        <div class="cell" onmousedown="colorClick(this)"
                             id="{{this.id.default}}"
                             onselectstart="return false"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}" letter="{{this.letter.default}}">{{this.id.default}}</div>

                    {{/each}}
                </div>
                <div id="10" class="column">
                    {{#each j}}
                        <div class="cell" onmousedown="colorClick(this)"
                             id="{{this.id.default}}"
                             onselectstart="return false"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}" letter="{{this.letter.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
                <div id="11" class="column">
                    {{#each k}}
                        <div class="cell" onmousedown="colorClick(this)"
                             id="{{this.id.default}}"
                             onselectstart="return false"
                             style="background-color: {{this.color.default}}" dataMouse="{{this.mouse.default}}"
                             dataColor="{{this.color.default}}" dataRow="{{this.row.default}}"
                             dataColumn="{{this.column.default}}" letter="{{this.letter.default}}">{{this.id.default}}</div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bottom-container" onselectstart="return false">
    <div class="btnContainer">
        <div>
            <button class="powerBtn powerBtn1 btn" onclick="startExperiment()">Начать эксперимент</button>
            <button class="powerBtn btn" onclick="location.href = 'http://localhost:3000/experiments';">Показать все шаблоны</button>
        </div>
        <div class="constBtns">
            <button class="constBtn btn" onclick="changeColor(this, 'lightgrey')">Поле</button>
            <button class="constBtn btn" onclick="changeColor(this, 'darkblue')">Стена</button>
            <button class="constBtn btn" onclick="changeColor(this, 'violet')">Ложная кормушка</button>
            <button class="constBtn btn" onclick="changeColor(this, 'orange')">Кормушка</button>
            <button class="constBtn btn" onclick="changeColor(this, 'green')">Вход</button>
            <button class="constBtn btn" onclick="changeColor(this, 'lightblue')">Выход</button>
            <button class="constBtn btn" id='mazeBuildLetterAdd' onclick="addLetter()">Добавить контрольную точку</button>
        </div>
    </div>
        <br/>

</div>
