<div class="row">
    <div class="column">
    {{#each a}}
            <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
    {{/each}}
    </div>
    <div class="column">
    {{#each b}}
            <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
    {{/each}}
    </div>
    <div class="column">
        {{#each c}}
            <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
        {{/each}}
    </div>
    <div class="column">
        {{#each d}}
            <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
        {{/each}}
    </div>
    <div class="column">
        {{#each e}}
            <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
        {{/each}}
    </div>
    <div class="column">
        {{#each f}}
            <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
        {{/each}}
    </div>
    <div class="column">
        {{#each g}}
            <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
        {{/each}}
    </div>
    <div class="column">
        {{#each h}}
            <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
        {{/each}}
    </div>
    <div class="column">
        {{#each i}}
            <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
        {{/each}}
    </div>
    <div class="column">
        {{#each j}}
            <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
        {{/each}}
    </div>
    <div class="column">
        {{#each k}}
            <div class="cell" onclick="this.style.backgroundColor = color">{{this.id.default}}</div>
        {{/each}}
    </div>
</div>
